<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClienteREST"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TelaCriarPedido"
            android:exported="false"
            android:label="Novo Pedido"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.ClienteREST" />
        <activity
            android:name=".TelaSetores"
            android:label="Setores"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".TelaClientesLista"
            android:label="Clientes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".TelaPedidosEditar"
            android:label="Pedidos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".TelaPedidos"
            android:label="Pedidos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".TelaClientes"
            android:label="Clientes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>